// Types
import { {{component_name}}Props } from './{{component_name}}.types'

export const {{component_name}} = (props: {{component_name}}Props) => {
  // const {} = props

  return (
    <div>[{{component_name}}]</div>
  )
}
